<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="../fonts/css/fontawesome.min.css">
    <link rel="stylesheet" href="../fonts/css/brands.min.css">
    <link rel="stylesheet" href="../fonts/css/solid.min.css">
    <link rel="stylesheet" href="../css/tablet.css" media="(max-width:768px)">
    <link rel="stylesheet" href="../css/phone.css" media="(max-width:575.99px)">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <nav>
            <ul id="navBarParent">
                <li>
                    <a href="index.html">
                        <img src="../img/logo.png" alt="logo">
                    </a>
                </li>
                <li>
                    <form action="search.html" methos="GET">
                        <input type="text" name="searchQuery" id="searchQuery">
                        <input type="submit" value="Search">
                    </form>
                </li>
                <li><a href="html/signIn.html">Sign In</a></li>
                <li><a href="html/register.html">Join Free</a></li>
                <li><a href="html/bestSellers.html">Best sellers</a></li>
                <li><a href="html/cart.html">Cart</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
footer
    </footer>
    <script src="js/main.js" type="module"></script>
</body>
</html>