*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #E3E8EE;
}
nav{
    box-shadow: 0px 10px 15px #aaa;
}
header{
    background-color: #ffffff;
}
#navBarParent{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    list-style: none;
    justify-content: center;
    place-items:center;
    width: 80%;
    max-width: 1200px;
    margin: 0px auto;
    grid-template-areas:
    "a a b b b b c d e e f f";
}
#logo{grid-area: a;}
#search{grid-area: b;}
#search > input{
  position: relative;
  width:90%;
}
#signin{grid-area: c;}
#register{grid-area: d;}
#bestSellers{grid-area: e;}
#cart{grid-area: f;}


#heroimg{
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px auto;
   background-color: rgba(160, 222, 255, 0.541);
}
#randomCategoriesLister{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width:1200px;
    margin: 0px auto;
    margin-top: 20px;
}
.categoryPresentation img{
    position: relative;
    display: grid;
    max-width: 100%;
    height: auto;
    
}
.categoryHeader{
    width: 1200px;
    margin: 0px auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.categoryHeader > h1 {
    color: #5469D4;
    overflow: hidden;
    text-align: center;

  }
  
  .categoryHeader> h1:before,
  .categoryHeader > h1:after {
    color: #5469D4;
    background-color: #5469D4;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  .categoryHeader > h1:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .categoryHeader > h1:after {
    left: 0.5em;
    margin-right: -50%;
  }
  .categoryPresentation{
    position: relative;
    text-align: center;
    color: #000;
  }
  /*------------------------PRODUCT CONTAINER------------------------*/
  #newItemList{
      display: grid;
      grid-template-columns: repeat(auto-fit, 300px);
      max-width: 1200px;
      margin:0px auto;
      
  }
  .categoryPresentation > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 700;
    /* Two values, one per background */
    background-blend-mode: screen;
    cursor: pointer;
    box-shadow: 5px 5px 4px #aaa;
  }
  .productContainer{
      display:grid;
      grid-template-rows: auto 1fr 1fr auto auto;
      height:443px;
      width:280px;
      background-color: #ffffff;
      border-radius: 10px;
      margin: 5px;
      box-shadow: 4px 10px 4px rgb(0,0,0,0.1);
 
    /* perspective function in transform property */
    /* transform: perspective(1000px) rotateX(0deg); */
  }
  .Trnsform{
         animation-name: example;
      animation-duration: 1s;
  }
  /* The animation code  */
  @keyframes example {
    0% {transform: rotateX(0deg);}
    100% {transform: rotateX(70deg);}
  }
  .prodHeader{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    height: 15px;
    align-items: center;
    justify-items: center;
    color:#081A78;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top:5px;
    margin-bottom:20px;
  }
  .headerRight{
    background: rgb(250,64,0);
    background: linear-gradient(90deg, rgba(250,64,0,1) 0%, rgba(250,195,0,1) 100%);
    padding:5px 10px 5px 10px;
    border-radius: 10px;
    color: #ffffff;
    justify-items: right;
    justify-content: right;
    align-items: flex-end;
 }
  .prodImgCont{
    position: relative;
    width: 265px;
    height:245px;
    margin: 0px auto;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5px;
    box-shadow: 4px 4px 4px rgb(0,0,0,0.1);
  }
  .prodImg{
    position: absolute;
    width: max-content;
    height: auto;
    background-size: cover;
    background-position-x: center;
    border-radius: 10px;
  }
  .prodDesc{
      text-align: center;
      margin-top: 10px;
      color: #081A78;
      font-weight: 700;
      width: 265px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .prodCategory{
      padding-top:10px;
      color: #8993A1;
  }
  .prodActions{
    display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
      padding: 10px 5px 10px 5px;
  }
  .watchLater a{
    background-color: #5469D4;
    padding:5px;
    border-radius: 5px;
    background: rgb(3,206,149);
    background: linear-gradient(90deg, rgba(3,206,149,1) 41%, rgba(71,255,79,1) 100%);
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
  }
  .AddCart a {
    color: #5F6368;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
  }
  .prodFooter{
    text-align: center;
    -moz-text-decoration-line: underline;
    text-decoration-line: underline;
    padding-bottom: 5px;
    padding-top: 0px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #081A78;
  }

/*-----------PRODUCT CONTAINER-----------*/

/* ---------------LOGIN FORM CONTAINER ------------------- */
#loginFormContainer{
    width: min(600px,100%);
    min-height: 450px;
    background-color: #ffffff;
    margin: 0px auto;
    border-radius: 10px;
    margin-top: 5rem;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 4px rgba(85, 85, 85, 0.459);
    padding-bottom: 2rem;
}

#loginFormContainer > img{
    display: block;
    margin: 0px auto;
    place-items: center;
    
}
#loginFormContainer > form{
    display: grid;
    grid-template-rows: 1fr 1fr auto ;
    justify-content: center;
    place-items:center;
    justify-content: center;
    position: relative;
    width: 100%;
}
.formContainer{
    position: relative;
    width:min(500px,100%);
    margin:0px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.formContainer > input{
    position: relative;
    width:100%;
    height: 50px;
    margin:10px auto;
    border: 3px solid #5469D4;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(85, 85, 85, 0.459);
    font-size: 1rem;
    padding-left: 10px;
    background-color:#C9E8F2;
}
.formContainer > select{
  position: relative;
  width:100%;
  height: 50px;
  margin:10px auto;
  border: 3px solid #5469D4;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(85, 85, 85, 0.459);
  font-size: 1rem;
  padding-left: 10px;
  background-color:#C9E8F2;
}
.formContainer > textarea{
  position: relative;
  width:100%;
  height: 200px;
  margin:0px auto;
  border: 3px solid #5469D4;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(85, 85, 85, 0.459);
  font-size: 1rem;
  padding-left: 10px;
  background-color:#C9E8F2;
}
.formContainer > label{
    font-size:1.2rem;
}
.forminput{
    max-width: 520px;
}
.submitContainer{
    position:relative;
    max-width: 100%;
}
.submitContainer > input{
    background-color:#5469D4;
    width: 365px;
    height:50px;
    border:none;
    border-radius: 10px;
    color:#fff;
    font-size:1.4rem;
    box-shadow: 4px 4px 4px rgba(85, 85, 85, 0.459);
    cursor: pointer;
} 
#signUp{
    position: relative;
    text-align: center;
    margin-top:10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#signUp > a{
    text-decoration: none;
    font-size:1rem;
    font-weight: 800;
    color: #5469D4;
}

#conditions{
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:600;
}
#conditions{
  margin-top:20px;
}
#conditions > a{
  color:#5469D4;
  text-decoration: none;
}
/* ---------------LOGIN FORM CONTAINER ------------------- */
/* ----------------PRODUCT PAGE --------------------------- */
#productInfoCont{
  display: grid;
  grid-template-columns:1fr 1fr ;
  max-width:1400px;
  margin:50px auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:500;
}
#itemgallery{
  display:grid;
  grid-template-rows:auto 1fr;
  width: 80%;
  height:500px;
  margin:0px auto;
}
#BigImage{
  height:400px;
}
#BigImage > img{
  width:100%;
  height:auto;
  border-radius: 20px;
}
#imgThumbList > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit , 70px);
  list-style-type: none;
  margin: 0px auto;
  place-content: center;
  list-style: none;
  text-decoration: none;
}

#imgThumbList > ul > li{
  width:60px;
  height:60px;
  box-shadow: 4px 4px 4px rgb(0,0,0,0.1);
  border-radius: 10px;
  margin:5px; 
  transition: width 1s;
  list-style: none;
}
#imgThumbList > ul > li:hover{
  margin:5px;
  padding: 0px;
  width:65px;
  height: 60px;
  transition: width .5s;
  cursor: pointer;
}
.imgThumb{
  position: relative;
  width:100%;
  height:100%;  
  padding:0px;
}

/*...RIGHT SIDE*/
#itemDetails{
 
}
#itemPriceWatchLater{
  display:inline-grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.5rem;
  gap: .5rem;
  color: #573CFF;
  text-align: center;
}
#watchLater{
  background-color:#009DCD;
  border-radius: 10px;
  font-size: 16px;
  padding-top: 5px;
}
#watchLater > a{
  text-decoration: none;
  color: #ffffff;
  
}
#itemDescription{
  padding:15px 0px 15px 0px;
  color: rgba(10, 10, 10, .5)
}
#callToAction{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  /* border:1px solid #000; */
  margin-top:30px;
}
.prodAction{
width:170px;
height:50px;
text-align:center;
border-radius: 30px;
line-height: 20px;
color:#ffffff;
font-size:1.2rem;

padding:15px 0px 15px 0px;
margin-top:15px;
}
.blueGrd{
  background: rgb(18,255,241);
  background: linear-gradient(90deg, rgba(18,255,241,1) 0%, rgba(36,72,255,1) 100%);
  box-shadow: 4px 4px 4px rgba(160, 222, 255, 0.7);
  transition: transform 1s, box-shadow .5s;
}
.blueGrd:hover{
  box-shadow: 10px 10px 40px rgba(160, 222, 255, 0.7);
  transition: transform 1s, box-shadow .5s;
  transform: scale(1.1,1.1);
  cursor: pointer;
}
.orangeGrd{
  background: rgb(255,111,60);
  background: linear-gradient(90deg, rgba(255,111,60,1) 0%, rgba(255,247,60,1) 100%);
  box-shadow: 4px 4px 4px rgba(255, 241, 160, 0.7);
  transition: transform 1s, box-shadow .5s;
}
.orangeGrd:hover{
  box-shadow: 10px 10px 40px rgba(255, 241, 160, 1);
  transition: transform 1s, box-shadow .5s;
  transform: scale(1.1,1.1);
  cursor: pointer;
}
.purpleGrd{
  background: rgb(163,84,212);
  background: linear-gradient(90deg, rgba(163,84,212,1) 0%, rgba(79,149,255,1) 100%);
  box-shadow: 4px 4px 4px rgba(255, 241, 160, 0.7);
  transition: transform 1s, box-shadow .5s;
}
.purpleGrd:hover{
  box-shadow: 10px 10px 40px rgba(163,84,212,1);
  transition: transform 1s, box-shadow .5s;
  transform: scale(1.1,1.1);
  cursor: pointer;
}
#itemQuantity > input{
  border:none;
  background:none;
  width:30px;
  text-align:center;
  padding:5px 0px 5px 0px;
  font-weight: 500;
  color:#5469D4;
}
.selector:hover{
  cursor:pointer;
}
/* ----------------PRODUCT PAGE --------------------------- */
/* ----------------UserDashboard PAGE --------------------------- */
#banner{
  height:345px;
  background-image: url("/img/userDashboardOrigin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 52%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  align-content: flex-end;
  color:#ffffff;
  padding-bottom: 30px;
}
#banner > section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

}
#banner > section > div{
  text-align: center;
  color:#215093;
  background: #ffffff;
  padding:7px 30px 7px 30px;
  border-radius: 5px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#dashboard{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: min(1200px,80%);
  margin:50px auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#leftDashboard{
  display: grid;
  grid-template-rows: auto auto;
  color:#4F6D82;
  margin:0px;
}
#profilePicCont > img{
  margin:0px auto;
  margin-bottom: 10px;
}
#proName{
  margin-bottom:50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
}
#proName > #adminIcon{
  content:"sf";
  background-image: url("../img/logo.png");
  position: absolute;
  top:0px;
  margin-top:-10px;
  font-size: 1rem;
  background: #ffffff;
  padding:20x;
  width:30px;
  border-radius: 10px;
  text-align: center;
  line-height:20px;
}
#proName > #adminIcon:hover{
  cursor: pointer;
}
#profilePicCont > div{
  position: relative;
  left:80%;
  top:25%;
  color:#000;
  background: #fff;
  width:30px;
  height:30px;
  border-radius: 50%;
  text-align: center;
  place-items: center;
  line-height:30px;
}
#basicInfo > ul > li{
  padding:10px;
  color:#274052;
  background-color:#ffffff;
  margin-bottom:5px;
  margin-top:5px;
  list-style: none;
  font-weight:700;
  width:min(80%) ;
  display:inline-grid;
  grid-template-columns: 1fr 1fr;
}
#basicInfo > ul > li > div{
  display: inline;
  color:#747474;
  margin-left:100px;
  font-weight:500;
}
#basicInfo > h4{
  font-size:1.3rem;
}
#orderHist{
  margin-top:30px;
}
#orderHist > h4{
  font-size:1.3rem;
}
#orderHist > ul > li{
  padding:10px;
  color:#274052;
  background-color:#ffffff;
  margin-bottom:5px;
  margin-top:5px;
  list-style: none;
  font-weight:500;
  width:min(80%) ;
  display:inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.MainlistCont{
  max-height: 600px;
  overflow: scroll;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
/* width */
.MainlistCont::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.MainlistCont::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.MainlistCont::-webkit-scrollbar-thumb {
  /* background: rgb(81, 93, 255); */
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  border-radius: 10px;
}
#RightDashboard > h4{
  font-size:1.3rem;
  color:#4F6D82;
}
.listCont{
  background-color:#ffffff;
  /* background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%); */
  border-radius:10px;
  box-shadow:4px 4px 4px rgba(94, 99, 104, 0.1);
  display:grid;
  grid-template-columns: auto 1fr;
  padding:10px;
  gap:1rem;
  margin:5px 0px 10px 0px;
  margin-right:10px;
}
.imgPrice{}
.imgPrice > h6{
  text-align: center;
  color:#8993A1;
  font-size:.7rem;
}
.imgPrice > div >img{
  width:200px;
  height:auto;
  overflow: hidden;
  box-shadow:4px 4px 4px rgba(94, 99, 104, 0.2);
  border-radius: 10px;
}
.price{
  text-align: center;
  border:2px solid #000;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  width:60%;
  margin:0px auto;
  font-size:1rem;
  font-weight: 700;
  color:#151F54;
}
.prodDesc{
  display:grid;
  grid-template-rows:auto 1fr auto ;
  /* background-color: #999ca12c; */
  background: linear-gradient(90deg, #e3ffe73f 0%, #d9e7ff3b 100%);
  width: 100%;
  border-radius:5px;

  position: relative;
}
.moreInfo{
  display:grid;
  grid-template-columns:auto auto ;
  position: relative;
}
.watchLikes{
  text-align: left;
  padding-left: 10px;
  width:100px;
  color:#215093;
}
.watchMoreInfo{
  position: absolute;
  text-align: right;
  padding-right: 10px;
  width:100px;
  justify-content: flex-end;
  right:0px;
  margin: 10px 10px 0px 0px;
  place-items: center;
  color:rgb(104, 104, 104);
  font-weight:400;
  border-radius:10px;
}
.watchDesc{
  place-items: center;
  align-content:center ;
  margin-top:50px;
  font-size:.8rem;
}
.addToCart{
  padding:6px;
  border:1px solid #000;
  width:100px;
  font-size:.7rem;
  margin:0px auto;
  margin-bottom: 10px;
  border-radius: 6px;
  color:#fff;
  background: rgb(21,31,84);
  background: linear-gradient(90deg, rgba(21,31,84,1) 0%, rgba(2,25,143,1) 100%);
  border:2px solid #ffffff;
  box-shadow:4px 4px 4px rgba(0, 0, 0, 0.377);
}
.WatchListTrash{
  position: absolute;
  bottom:10px;
  right: 10px;
  padding:5px 8px;
  border-radius: 50px;
  background-color: #d8d8d8;
}
.WatchListTrash > a{
  color:rgb(238, 67, 67);
}
/* ----------------USER Dashboard PAGE --------------------------- */
/* ----------------ADMIN Dashboard PAGE --------------------------- */

#adminDashboardCategory{
  display: grid;
  grid-template-rows: auto auto;
  place-items: center;
  margin-top:20px;
  margin:0px auto;
}
#adminDashboardCategory > div > ul{
  display: inline-grid;
  grid-template-columns: auto auto auto;
  list-style: none;
  margin:0px auto;
}
#adminDashboardCategory > div > ul > li{
  margin:10px;
  color:#215093;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  position: relative;
}
#adminDashboardCategory > div > ul > li:hover{
  cursor: pointer;
}
#adminDashboardCategory > div > ul > li::after{
  content: "";
  background-color:#215093;
  height:3px;
  width:100%;
  position: absolute;
  bottom: -3px;
  left:0px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in-out ;
}
#adminDashboardCategory > div > ul > li:hover::after{
transform: scaleX(1);
transform-origin: left;
transition: transform 250ms ease-in-out ;
}
/*category*/ 
/*PRODUCTS*/
#adminDashboardProducts{
  display: grid;
  grid-template-rows: auto auto;
  place-items: center;
  margin-top:20px;
  margin:0px auto;
  place-items: center;
}
#ProductControllerButton:hover{
  cursor: pointer;
}
#CategoriesControllerButton:hover{
  cursor: pointer;
}
#adminDashboardProducts > div > ul{
  display: inline-grid;
  grid-template-columns: auto auto auto;
  list-style: none;
  margin:0px auto;
}
#adminDashboardProducts > div > ul > li{
  margin:10px;
  color:#215093;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  position: relative;
}
#adminDashboardProducts > div > ul > li:hover{
  cursor: pointer;
}
#adminDashboardProducts > div > ul > li::after{
  content: "";
  background-color:#215093;
  height:3px;
  width:100%;
  position: absolute;
  bottom: -3px;
  left:0px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in-out ;
}
#adminDashboardProducts > div > ul > li:hover::after{
transform: scaleX(1);
transform-origin: left;
transition: transform 250ms ease-in-out ;
}
/*PRODUCTS*/
.catViewContainer{
  display: inline-grid;
  grid-template-columns: auto auto auto;
  margin: 0px auto;
  align-items: center;
  justify-items: center;
  background: #fff;
  margin:10px;
  padding:10px;
  border-radius:10px;
  box-shadow: 4px 4px 4px rgba(170, 170, 170, 0.1);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.catViewTitle{
 color:#4b6cb7;
 font-weight: 600;
}
.catViewDescription{
  max-width:400px;
  text-align: center;
}
.catViewPhoto > img{
width:100px;
height:auto;
justify-items: center;
place-items: center;
}
#viewAllCategories{
  display:block;
  max-width:600px;
  margin:0px auto;
}

#addCategoryContainer{
  display:none;
  width: min(600px,100%);
  min-height: 450px;
  background-color: #ffffff;
  margin: 0px auto;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 4px 4px 4px rgba(85, 85, 85, 0.459);
  padding-bottom: 2rem;
}
#addCategoryContainer > form{
  display: grid;
  grid-template-rows: 1fr 1fr auto ;
  justify-content: center;
  place-items:center;
  justify-content: center;
  position: relative;
  width: 100%;
}
#editCategoryContainer{
  display:none;
  width: min(600px,100%);
  min-height: 450px;
  background-color: #ffffff;
  margin: 0px auto;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 4px 4px 4px rgba(85, 85, 85, 0.459);
  padding-bottom: 2rem;
}
#editCategoryContainer > form{
  display: grid;
  grid-template-rows: 1fr 1fr auto ;
  justify-content: center;
  place-items:center;
  justify-content: center;
  position: relative;
  width: 100%;
}
/* ----------------ADMIN Dashboard PAGE --------------------------- */