<div id="productInfoCont">
            <div id="itemgallery">
                <div>VideoGames > Accessories > Mice {{id}}</div>
                <div id="BigImage">
                    <img src="../img/category/sports.png" alt="">
                </div>
                <div id="imgThumbList">
                    <ul>
                        <li><img class="imgThumb" src="../img/category/apparel.png" alt=""></li>
                        <li><img class="imgThumb" src="../img/category/cosmetics.png" alt=""></li>
                        <li><img class="imgThumb" src="../img/category/footware.png" alt=""></li>
                        <li><img class="imgThumb" src="../img/category/medical.png" alt=""></li>
                        <li><img class="imgThumb" src="../img/category/sports.png" alt=""></li>
                        <li><img class="imgThumb" src="../img/category/cosmetics.png" alt=""></li>
                        <li><img class="imgThumb" src="../img/category/footware.png" alt=""></li>
                    </ul>
                </div>
            </div>
            <div id="itemDetails">
                <div id="reviewResultSection">
                    ★★★★★
                </div>
                <div id="itemPriceWatchLater">
                    <div id="price">TTD $10.93</div>
                    <div id="watchLater"><a href="watchlater">Watch Later</a></div>
                </div>
                <div id="ProductName">
                    The name of th product
                </div>
                <div id="itemDescription">
                    {{!-- Size 28-46 Unisex Sneakers Swimming Shoes Quick-Drying Aqua Shoes
                    and children Water Shoes zapatos de mujer for Beach Men shoes --}}
                    {{{Description}}}
                </div>
                <div id="color">

                </div>
                <div id="size">

                </div>
                <div id="itemQuantity">
                    Quantity&nbsp;&nbsp;&nbsp;<button id="decrease" class="selector"><i class="fa fa-minus"></i></button><input type="text" name="quantity" id="quantity" value="1"><button id="increase" class="selector"><i class="fa fa-plus"></i></button>
                </div>
                
                <div id="callToAction">
                    <div id="addtoCart" class="blueGrd prodAction">
                        Add to Cart
                    </div>
                    <div id="buyNow" class="orangeGrd prodAction">
                        Buy Now
                    </div>
                </div>
            </div>
        </div>