<div id="heroSection">
    <a href="html/register.html"><img id="heroimg" src="img/Hero Section.png" alt="hero section"></a>
    <!-- <img src="img/Hero Section.png" alt="hero section"> <div id="heroimg"></div>-->
</div>
<!--Dynamic Category section -->
<!--Displays 1st 4 images to 4 different categories pulled from the database
    and links to a page that pulls up items based on categories it inserts that category as a query
-->
<div class="categoryHeader"> 
    <h1><span>Categories</span></h1>
</div>
<div id="randomCategoriesLister" class="animated fadeIn delay-1s">
    <div class="categoryPresentation">
        <div>footware</div>
        <a href="html/categoryResult.html">
            <img src="img/category/footware.png" alt="sports">
        </a>
    </div>
    <div class="categoryPresentation">
        <div>cosmetics</div>
        <a href="html/categoryResult.html">
            <img src="img/category/cosmetics.png" alt="sports">
        </a>
    </div>
    <div class="categoryPresentation">
        <div>medical</div>
        <a href="html/categoryResult.html">
            <img src="img/category/medical.png" alt="sports">
        </a>
    </div>
    <div class="categoryPresentation">
        <div>apparel</div>
        <a href="html/categoryResult.html">
            <img src="img/category/apparel.png" alt="sports">
        </a>
        
    </div>
</div>
<!--Lattest Items.
    These would be loaded last 1st, it must contain price,description,image,
-->
<div class="categoryHeader"> 
    <h1><span>New Additions</span></h1>
</div>
<div id="newItemList">
    <div class="productContainer">
        <div class="prodHeader">
            <div class="headerLeft">
                <i class="fa fa-thumbs-up"></i><span>100</span>
            </div>
            <div class="headerRight">
                30% Off
            </div>
        </div>
        <div class="prodImgCont">
            <img class="prodImg" src="img/category/sports.png" alt="image">
        </div>
        <div class="prodDesc">
            Waterproof Sport Smart Watch
            Monitor for iOS & Android &hellip;
            <div class="prodCategory">
                Smart Watches
            </div>
        </div>
        <div class="prodActions">
            <div class="watchLater">
                <a href="watchLater"><i class="fa fa-stopwatch"></i>&nbsp;Watch Later</a>
            </div>
            <div class="AddCart">
                <a href=""><i class="fa fa-cart-plus"></i>&nbsp;Add to cart</a>    
            </div>
        </div>
        <div class="prodFooter">
            TT $300.00
        </div>
    </div>

    <div class="productContainer">
        <div class="prodHeader">
            <div class="headerLeft">
                <i class="fa fa-thumbs-up"></i><span>100</span>
            </div>
            <div class="headerRight">
                30% Off
            </div>
        </div>
        <div class="prodImgCont">
            <img class="prodImg" src="img/category/sports.png" alt="image">
        </div>
        <div class="prodDesc">
            Waterproof Sport Smart Watch
            Monitor for iOS & Android &hellip;
            <div class="prodCategory">
                Smart Watches
            </div>
        </div>
        <div class="prodActions">
            <div class="watchLater">
                <a href="watchLater"><i class="fa fa-stopwatch"></i>&nbsp;Watch Later</a>
            </div>
            <div class="AddCart">
                <a href=""><i class="fa fa-cart-plus"></i>&nbsp;Add to cart</a>    
            </div>
        </div>
        <div class="prodFooter">
            TT $300.00
        </div>
    </div>

    <div class="productContainer">
        <div class="prodHeader">
            <div class="headerLeft">
                <i class="fa fa-thumbs-up"></i><span>100</span>
            </div>
            <div class="headerRight">
                30% Off
            </div>
        </div>
        <div class="prodImgCont">
            <img class="prodImg" src="img/category/sports.png" alt="image">
        </div>
        <div class="prodDesc">
            Waterproof Sport Smart Watch
            Monitor for iOS & Android &hellip;
            <div class="prodCategory">
                Smart Watches
            </div>
        </div>
        <div class="prodActions">
            <div class="watchLater">
                <a href="watchLater"><i class="fa fa-stopwatch"></i>&nbsp;Watch Later</a>
            </div>
            <div class="AddCart">
                <a href=""><i class="fa fa-cart-plus"></i>&nbsp;Add to cart</a>    
            </div>
        </div>
        <div class="prodFooter">
            TT $300.00
        </div>
    </div>

    <div class="productContainer">
        <div class="prodHeader">
            <div class="headerLeft">
                <i class="fa fa-thumbs-up"></i><span>100</span>
            </div>
            <div class="headerRight">
                30% Off
            </div>
        </div>
        <div class="prodImgCont">
            <img class="prodImg" src="img/category/sports.png" alt="image">
        </div>
        <div class="prodDesc">
            Waterproof Sport Smart Watch
            Monitor for iOS & Android &hellip;
            <div class="prodCategory">
                Smart Watches
            </div>
        </div>
        <div class="prodActions">
            <div class="watchLater">
                <a href="watchLater"><i class="fa fa-stopwatch"></i>&nbsp;Watch Later</a>
            </div>
            <div class="AddCart">
                <a href=""><i class="fa fa-cart-plus"></i>&nbsp;Add to cart</a>    
            </div>
        </div>
        <div class="prodFooter">
            TT $300.00
        </div>
    </div>
</div>