<div id="loginFormContainer" class="animated fadeIn ">
    <a href="/">
        <img style="margin:0px auto;display:block" src="/img/logo.png" alt="logo">
    </a>
    
    <form action="/auth/login" method="POST">
        <div class="formContainer">
            <label for="email">Email</label><br/>
            <input class="forminput" type="email" name="email" id="email">
            {{#if errors}}
            <div class="error">{{errors.email}}</div>
            {{/if}}
        </div>
        <div class="formContainer">
            <label for="password">Password</label><br/>
            <input class="forminput" type="password" name="password" id="password">
            {{#if errors}}
            <div class="error">{{errors.password}}</div>
            {{/if}}
        </div>
        <div class="submitContainer">
            <input type="submit" name="submit" id="submit" value="Continue">
        </div>
    </form>
</div>
<div id="signUp" class="animated fadeIn delay-1s">
    Don’t have an account? <a href="/auth/register">Sign Up</a>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>