<div id="loginFormContainer" class="animated fadeIn ">
    <img src="../img/logo.png" alt="logo">
    
    <form action="/auth/login" method="POST">
        <div class="formContainer">
            <label for="email">Email</label><br/>
            <input class="forminput" type="email" name="email" id="email">
        </div>
        <div class="formContainer">
            <label for="password">Password</label><br/>
            <input class="forminput" type="password" name="password" id="password">
        </div>
        <div class="submitContainer">
            <input type="submit" name="submit" id="submit" value="Continue">
        </div>
    </form>
</div>
<div id="signUp" class="animated fadeIn delay-1s">
    Don’t have an account? <a href="Sign Up">Sign Up</a>
</div>
<br>